# Python / Backend
backend/venv/
backend/.venv/
backend/uploads/
backend/__pycache__/
backend/app/__pycache__/
backend/*.pyc
backend/sql_app.db
*.pyc
__pycache__/

# Android / Kotlin Build
kotlin/.gradle/
kotlin/app/build/
kotlin/build/
*.apk
*.aab

# Word y documentos temporales
~$*.docx
~$*.xlsx

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini
